<div class="container msfc-container">
  <div class="row">
    <div class="col-xs-12 msfc-content">
      <h1 class="text text-center">Give</h1>

      <p>Since so many people use online services to manage their finances, we've created this online giving page to simplify contributing to the ministry of <strong>Maricopa Springs Family Church</strong>.</p>
      <br>
      <p>Before you give, please remember that giving is an act of worship.  It is something that Christians do freely and not under compulsion.  By giving to our church you trust that our Elders will steward these funds wisely and responsibly, under the accountability of God himself. Please give generously - as Jesus Christ gave generously to you - and please give wisely (don't use a credit card if it will cause you to go into debt to give).  If giving online diminishes your attitude of worship in this act, then join us for a service and give directly at church.</p>
      <br>
      <p><em>(We do our very best to supply you with a tax receipt at the end of the year, but for your own records, we recommend that you keep the receipt that will be mailed to you immediately after your contribution.)</em></p>
      <br>
      <p><strong>Please take the time to read through these Bible passages as you seek to make much of Christ for his glory</strong>
        (<a href="http://www.esvbible.org/2%20Corinthians%208-9/">2 Cor 8-9</a>,
        <a href="http://www.esvbible.org/1%20Timothy%205%3A17-18/">1 Tim 5:17-18</a>,
        <a href="http://www.esvbible.org/Philippians+4/">Phil 4:10-20</a>,
        <a href="http://www.esvbible.org/3%20John+1/">3 John 1:5-8</a>).</p>

      <span class="block-center"><a class="btn btn-success" href="https://msfc.churchcenteronline.com/giving" target="_blank">Give</a></span>
    </div>
  </div>
</div>
